<div class="row">
    <div class="col">
        <input #termino type="text" name="" id="" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista">
    </div>
</div>

<app-tarjetas
[newReleases]="artistas"
></app-tarjetas>