<div class="row row-cols-4 row-cols-md-3 g-4 mt-5">
    <div *ngFor="let cancion of newReleases" class="col">
      <div  class="card">
        <img [src]="cancion.images | noimage" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{cancion.name}}</h5>
          <p class="card-text">
              <span *ngFor="let artist of cancion.artists" class="badge rounded-pill bg-primary">
                  {{artist.name}}
            </span>
          </p>
        </div>
      </div>
    </div>
</div>